<footer id="footer" class="container-fluid px-0">
    <div class="row pt-3 pb-3 ml-3 d-flex justify-content-center">
        <div class="col-md-4 pb-xs-">
            <div class="d-flex flex-column">
                <div class="p-2">
                    <h3>ABOUT</h3>
                </div>
                <div class="p-2">
                    <p>
                        Research Data Management project to collectively<br>store the
                        data of PhD Scholars of<br> Manipal University Jaipur in a single place.
                    </p>
                </div> 
                <div class="p-1">
                    <ul class="list-unstyled footer-link d-flex justify-content-center footer-social">
                        <li><a href="#" class="p-2"><i class="fab fa-twitter fa-lg"></i></a></li>
                        <li><a href="#" class="p-2"><i class="fab fa-facebook-f fa-lg"></i></a></li>
                        <li><a href="#" class="p-2"><i class="fab fa-linkedin-in fa-lg"></i></a></li>
                        <li><a href="#" class="p-2"><i class="fab fa-instagram fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>    
        </div>
        <div id="disp" class="col-md-4">
            <div class="d-flex flex-column">
                <div class="p-2">
                    <h3>CONTACT INFO</h3>
                </div>
                <div class="p-2">
                    <p>
                        ADDRESS :<br>
                        Manipal University Jaipur,<br>Jaipur-Ajmer Express Highway, Dehmi Kalan,<br> Near GVK Toll Plaza, Jaipur, Rajasthan-303007
                    </p>
                    <p>
                        Telephone : <a href="tel:+0141 399 9100">+0141 399 9100</a><br>
                        Email : <a href="mailto:muj@gmail.com">muj@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div id="disp" class="col-md-4">
            <div class="d-flex flex-column">
                <div class="p-2">
                    <h3>QUICK LINKS</h3>
                </div>
                <div class="p-2">
                    <ul class="list-unstyled footer-link">
                        <li class="mx-2 my-2"><a href="#">Terms of Use</a></li>
                        <li class="mx-2 my-2"><a href="#">Disclaimers</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="rights" class="row">
        <div class="col-12 text-sm-center text-center">
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All Rights Reserved | This website is made with <i
              class="fa fa-heart text-danger" aria-hidden="true"></i> by Abhishek & Amann
        </div>
    </div>
</footer>

<script src="/JQuery-v.3.js"></script>
<script src="/Popper.min.js"></script>
<script src="/BOOTSTRAP_4.js"></script>
<script src="/jQuery-UI.js"></script>
<script src="/js/jquery.scrollslide.js"></script>
<script src="/scripts/script.js"></script>
</body>
</html>