<div class="container-fluid" style="background-image:url('/Images/Black.jpg'); height: 300px; width: 100%; color: white; font-size: 0.8rem;">
    <div class="row mb-5">
        <div class="col-md-4 mt-3 d-flex flex-column justify-content-center align-items-center">
            <h3 class="pt-1">ABOUT</h3>
            <p class="mb-3 mt-2 mx-5">Research Data Management project to collectively store the
            data of PhD Scholars of Manipal University Jaipur in a single place.</p>
            <ul class="list-unstyled footer-link d-flex footer-social m-2">
                <li><a href="#" class="p-2"><i class="fab fa-twitter fa-lg"></i></a></li>
                <li><a href="#" class="p-2"><i class="fab fa-facebook-f fa-lg"></i></a></li>
                <li><a href="#" class="p-2"><i class="fab fa-linkedin-in fa-lg"></i></a></li>
                <li><a href="#" class="p-2"><i class="fab fa-instagram fa-lg"></i></a></li>
            </ul>
        </div>
        <div class="col-md-4 mt-3 pt-4 pl-5 d-flex flex-column justify-content-center align-items-center">
            <h3 class="">CONTACT INFO</h3>
            <p class="mb-1">Address :</p>
            <p class="mb-2">Manipal University Jaipur,Jaipur-Ajmer Express Highway, Dehmi Kalan, Near GVK Toll Plaza, Jaipur, Rajasthan-303007</p>
            <p class="mb-2">Telephone : <a href="tel:+0141 399 9100">+0141 399 9100</a></p>
            <p>Email : <a href="mailto:muj@gmail.com">muj@gmail.com</a></p>
        </div>
        <div class="col-md-4 mt-3 pt-4 px-0  d-flex flex-column justify-content-start align-items-center">
            <h3 class="mb-3">QUICK LINKS</h3>
            <ul class="list-unstyled footer-link">
              <li class="mx-2 my-2"><a href="#">Terms of Use</a></li>
              <li class="mx-2 my-2"><a href="#">Disclaimers</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-md-center text-left">
          <p>
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All Rights Reserved | This website is made with <i
              class="fa fa-heart text-danger" aria-hidden="true"></i> by Abhishek & Amann
          </p>
        </div>
    </div>
</div>

<script src="/JQuery-v.3.js"></script>
<script src="/Popper.min.js"></script>
<script src="/BOOTSTRAP_4.js"></script>
<script src="/jQuery-UI.js"></script>
<script src="/js/jquery.scrollSlide.js"></script>
<script src="/scripts/script.js"></script>
</body>
</html>