<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomePage</title>
    <link rel="stylesheet" href="/BOOTSTRAP_4.css" type="text/css">
    <link rel="stylesheet" href="/HoverEffects/demo.css" type="text/css">
    <link rel="stylesheet" href="/HoverEffects/style_common.css" type="text/css">
    <link rel="stylesheet" href="/HoverEffects/style10.css" type="text/css">
    <link rel="stylesheet" href="/HoverEffects/hover.css" type="text/css">
    <link rel="stylesheet" href="/Fontawesome/css/all.css" type="text/css">    
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
</head>
<body>
    <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark fixed-top py-0">
        <div class="container-fluid">
          <a class="navbar-brand " href="https://jaipur.manipal.edu/" target="_blank">MANIPAL</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="myNav">
            <ul class="navbar-nav pl-md-5 ml-auto">
              <li class="nav-item">
                <a class="nav-link effect px-3" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link effect px-3" id="animate">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link effect px-3" id="animate">Contact</a>
              </li>
            </ul>

            <ul class="navbar-nav ml-auto" style="font-size: 1.0rem;">
                <li>
                  <a href="#" class="nav-link hvr-wobble-horizontal">Sign Up <i class="fas fa-user-plus"></i></a>
                </li>
                <li>
                  <a href="#" class="nav-link hvr-wobble-horizontal">Login <i class="fas fa-user"></i></a>
                </li>
            </ul>

            <!-- <div class="navbar-nav ml-auto">
              <form method="post" class="search-form">
                <span class="icon ion ion-search"></span>
                <input type="text" class="form-control" placeholder="Search...">
              </form>
            </div> -->
            
          </div>
        </div>
    </nav>
   