<%- include ("partials/header") %>

    <fieldset>
        <legend>
            <h1 id="editTitle">CHANGE PASSWORD</h1>
        </legend>
    </fieldset>

    <div class="container  border border-secondary rounded p-4 div-changepassword" style="margin-bottom: 230px;">
        <form action="/changepassword" method="POST">
            <div class="form-group input-group">
                <input type="password" class="form-control" id="oldPassword" aria-describedby="oldPassword" placeholder="Enter old password" name="oldPassword" required pattern=".{5,15}" required>
                <div class="input-group-append">
                    <span class="input-group-text show-icon" style="cursor: pointer;"><i class="fas fa-eye"></i></span>
                </div>
            </div>
            <div class="form-group input-group">
                <input type="password" class="form-control" id="newPassword" aria-describedby="newPassword" placeholder="Enter new password" name="newPassword" required pattern=".{5,15}" required>
                <div class="input-group-append">
                    <span class="input-group-text show-icon" style="cursor: pointer;"><i class="fas fa-eye"></i></span>
                </div>
            </div>
            <div class="form-group input-group">
                <input type="password" class="form-control" id="confirmNewPassword" aria-describedby="confirmNewPassword" placeholder="Confirm New password" required pattern=".{5,15}" name="confirmPassword" required>
                <div class="input-group-append">
                    <span class="input-group-text show-icon" style="cursor: pointer;"><i class="fas fa-eye"></i></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="form-control btn btn-primary">
            </div>
              
        </form>
    </div>

<%- include ("partials/footer") %>