<!-- ARTIFICIAL INTELLIGENCE -->
<div class="col-md-3 col-sm-6">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/Images/course3.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">ARTIFICIAL INTELLIGENCE</h5>
            <p class="card-text">
                Artificial intelligence, sometimes called machine intelligence, is intelligence demonstrated by machines, in contrast to the natural intelligence displayed by humans and animals.
                </p>
            <a href="https://en.wikipedia.org/wiki/Artificial_intelligence" target="_blank" class="btn btn-outline-info py-1 px-2">
                READ
            </a>
        </div>
    </div>
</div>

<!-- CLOUD COMPUTING -->
<div class="col-md-3 col-sm-6">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/Images/course2.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">CLOUD COMPUTING</h5>
            <p class="card-text">
                Cloud computing is the on-demand availability of computer system resources, especially data storage and computing power, without direct active management by the user. 
            </p>
            <a href="https://en.wikipedia.org/wiki/Cloud_computing" target="_blank" class="btn btn-outline-info py-1 px-2">
                READ
            </a>
        </div>
    </div>
</div>

<!-- NETWORK SECURITY -->
<div class="col-md-3 col-sm-6">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/Images/course4.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">NETWORK SECURITY</h5>
            <p class="card-text">
                Network security consists of the policies and practices adopted to prevent and monitor unauthorized access, misuse, or denial of a computer network and network-accessible resources.
            </p>
            <a href="https://en.wikipedia.org/wiki/Network_security" target="_blank" class="btn btn-outline-info py-1 px-2">
                READ
            </a>
        </div>
    </div>
</div>

<!-- DATA MINING -->
<div class="col-md-3 col-sm-6">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/Images/course1.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">DATA MINING</h5>
            <p class="card-text">
                Data mining is a process of discovering patterns in large data sets(even known as BIG DATA) involving methods at the intersection of machine learning, statistics, and database systems.
            </p>
            <a href="https://en.wikipedia.org/wiki/Data_mining" target="_blank" class="btn btn-outline-info py-1 px-2">
                READ
            </a>
        </div>
    </div>
</div>

<!-- SOFTWARE ENGINEERING -->
<div class="col-md-3 col-sm-6">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/Images/course5.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">SOFTWARE ENGINEERING</h5>
            <p class="card-text">
                Software engineering is an engineering branch associated with development of software product using well-defined scientific principles, methods and procedures.
            </p>
            <a href="https://en.wikipedia.org/wiki/Software_engineering" target="_blank" class="btn btn-outline-info py-1 px-2">
                READ
            </a>
        </div>
    </div>
</div>

<!-- MATHEMATICAL MODELING -->
<div class="col-md-3 col-sm-6">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/Images/course6.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">MATHEMATICAL MODELING</h5>
            <p class="card-text">
                Mathematical modeling is the art of translating problems from an application area into tractable mathematical formulations whose theoretical and numerical analysis provides insight.
            </p>
            <a href="https://en.wikipedia.org/wiki/Mathematical_model" target="_blank" class="btn btn-outline-info py-1 px-2">
                READ
            </a>
        </div>
    </div>
</div>

<!-- DEEP LEARNING -->
<div class="col-md-3 col-sm-6">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/Images/course8.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">DEEP LEARNING</h5>
            <p class="card-text">
                Deep learning is a subset of machine learning in artificial intelligence (AI) that has networks capable of learning unsupervised from data that is unstructured or unlabeled.
            </p>
            <a href="https://en.wikipedia.org/wiki/Deep_learning" target="_blank" class="btn btn-outline-info py-1 px-2">
                READ
            </a>
        </div>
    </div>
</div>

<!-- INFORMATION RETRIEVAL -->
<div class="col-md-3 col-sm-6">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/Images/course9.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">INFORMATION RETRIEVAL</h5>
            <p class="card-text">
                Information retrieval is the science of searching for information in a document, searching for documents themselves, and also searching for the metadata that describes data.
            </p>
            <a href="https://en.wikipedia.org/wiki/Information_retrieval" target="_blank" class="btn btn-outline-info py-1 px-2">
                READ
            </a>
        </div>
    </div>
</div>

<!-- PREDICATIVE ANALYTICS -->
<div class="col-md-3 col-sm-6">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/Images/course10.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">PREDICATIVE ANALYTICS</h5>
            <p class="card-text">
                Predictive analytics is the use of data, statistical algorithms and machine learning techniques to identify the likelihood of future outcomes based on historical data.
            </p>
            <a href="https://en.wikipedia.org/wiki/Predictive_analytics" target="_blank" class="btn btn-outline-info py-1 px-2">
                READ
            </a>
        </div>
    </div>
</div>

<!-- COMPUTER VISION -->
<div class="col-md-3 col-sm-6">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/Images/course12.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">COMPUTER VISION</h5>
            <p class="card-text">
                Computer vision is an interdisciplinary scientific field that deals with how computers can gain high-level understanding from digital images or videos.
            </p>
            <a href="https://en.wikipedia.org/wiki/Computer_vision" target="_blank" class="btn btn-outline-info py-1 px-2">
                READ
            </a>
        </div>
    </div>
</div>

<!-- DIGITAL IMAGE PROCESSING -->
<div class="col-md-3 col-sm-6">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/Images/course13.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">DIGITAL IMAGE PROCESSING</h5>
            <p class="card-text">
                Digital Image Processing is the use of a digital computer to process digital images through an algorithm.There can be a couple of different algoritms to process image.
            </p>
            <a href="https://en.wikipedia.org/wiki/Digital_image_processing" target="_blank" class="btn btn-outline-info py-1 px-2">
                READ
            </a>
        </div>
    </div>
</div>

<!-- NATURAL LANGUAGE PROCESSING -->
<div class="col-md-3 col-sm-6">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/Images/course7.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">NATURAL LANGUAGE PROCESSING</h5>
            <p class="card-text">
                Natural Language Processing, usually shortened as NLP, is a branch of artificial intelligence that deals with the interaction between computers and humans using the natural language.
            </p>
            <a href="https://en.wikipedia.org/wiki/Natural_language_processing" target="_blank" class="btn btn-outline-info py-1 px-2">
                READ
            </a>
        </div>
    </div>
</div>

<!-- CLASSIFICATION ALGORITHMS -->
<div class="col-md-3 col-sm-6">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/Images/course11.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">CLASSIFICATION ALGORITHMS</h5>
            <p class="card-text">
                Classification is technique to categorize our data into a desired and distinct number of classes where we can assign label to each class as per our convenience.
            </p>
            <a href="https://dzone.com/articles/introduction-to-classification-algorithms" target="_blank" class="btn btn-outline-info py-1 px-2">
                READ
            </a>
        </div>
    </div>
</div>