<%- include ("partials/header")%>
    <div class="container">
        <div class="row">
            <div class = "col-6"></div>
        </div>
    </div>

    <div class="container-fluid px-0">
        <div>
            <img class="img-fluid himg" src="/Images/MUJ.jpg" alt="Responsive image" style="width: 100%; height: 700px;">
        </div>
    </div>

<div style="font-size: 1.7rem;font-weight:bolder;">
    <div class="container-fluid content">
        <div class="row">
            <div class="col-6 d-flex justify-content-end">
                <div class="scroll-left-200">
                    <img class="img-thumbnail bimg" src="/Images/Supervisor.jpg">
                </div>
            </div>
            <div class="col-6 d-flex justify-content-start my-auto">
                <div class="scroll-right-200">
                    <p class="hvr-underline-from-center"><a href="#" style="color:black;text-decoration:none;">SUPERVISOR LIST</a></p>
                </div>    
            </div>
        </div>
    </div>
    <div class="container-fluid content">
        <div class="row">
            <div class="col-6 d-flex justify-content-end my-auto">
                <div class="scroll-left-600">
                    <p class="hvr-underline-from-center"><a href="#" style="color:black;text-decoration:none;">SCHOLARS DATA</a></p>
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-start">
                <div class="scroll-right-600">
                    <img class="img-thumbnail bimg" src="/Images/Scholar.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid content">
        <div class="row">
            <div class="col-6 d-flex justify-content-end">
                <div class="scroll-left-800">
                    <img class="img-thumbnail bimg" src="/Images/Forms.jpg">
                </div>    
            </div>
            <div class="col-6 d-flex justify-content-start my-auto">
                <div class="scroll-right-800">
                    <p class="hvr-underline-from-center"><a href="#" style="color:black; text-decoration:none;">PhD FORMS</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid content ">
        <div class="row">
            <div class="col-6 d-flex justify-content-end my-auto">
                <div class="scroll-left-1100">
                    <p class="hvr-underline-from-center"><a href="#" style="color:black;text-decoration:none;">SEARCH SCHOLARS</a></p>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-start">
                <div class="scroll-right-1100">
                    <img class="img-thumbnail bimg" src="/Images/Search.jpg">
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ("partials/footer")%>
 
