<%- include("partials/header") %>

<div id="loginPage" class="container">
    <!-- BACK GROUND -->
    <div>
        <img src="/Images/Login-1.jpg" alt="Login Image">
    </div>
    <!-- PAGE BASIC DISPLAY AND FUNCTIONALITY -->
    <div class = "d-flex justify-content-center">
        <div class = "card w-80" style="width: 20rem;">
            <div class = "card-header">
                <h3 class="text-center">USER LOGIN</h3>
            </div>
            <div class ="card-body">
                <form action="/login" method="POST">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                            <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                        </div>
                    </div>
                    <div class = "align-item-center pb-2">
                        <input type="checkbox" name="RememberMe" id="remember" class="mx-1">Remember 
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Login" class="btn btn-primary btn-block my-2">
                    </div>
                </form>
            </div>  
            <div class="card-footer my-0" >
                <div class="d-flex justify-content-center">
                    <a href="/forgot" data-toggle="modal" data-target="#resetPassword">Forgot your Password??</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- RESET PASSWORD MODAL --> 
    <div class="modal fade" id="resetPassword" tabindex="-1" role="dialog" aria-labelledby="resetPass" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resetPass">Forgot Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/forgot" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="email"><strong>Email : </strong></label>
                            <input type="email" name="email" class="form-control" autofocus="autofocus">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary py-1 px-1" value="Reset Password">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- JAVASCRIPT PART -->
<script src="/JQuery-v.3.js"></script>
<script src="/Popper.min.js"></script>
<script src="/BOOTSTRAP_4.js"></script>
<script>
  $(document).ready( function(){
    //Make Alert Functional
    $('.overlap-alert').css('display','none').fadeIn(1000,function(){
        setTimeout(function(){
            $('.overlap-alert').fadeOut(1000);
        },3000);
    });

    // Hide NavBar Icons And Add Background Image
    var pathUrl = window.location.pathname;
    if(pathUrl == '/login'){
        // ADD Background Image
        $("body").css({
            'overflow-y' : "hidden" 
        });
        // Hide Icons on Navbar
        $("#mainNavbar ul li a").hide();
        $("#mainNavbar ul li a").first().show();
        $("#mainNavbar ul li a").first().css({
            marginRight: "13em"
        });
    }

    // TOGGLE NAV LINK ANIMATION

    if($(window).width() <= 991){
        
            $("#myNavLinkItem a").removeClass('effect');
            
        } else {
         
            $("#myNavLinkItem a").addClass('effect');
        }
    $(window).resize(function() {

        if ($(this).width() <= 991) {
            
            $("#myNavLinkItem a").removeClass('effect');
        } else {

            $("#myNavLinkItem a").addClass('effect');
            } 
    });

    $('.card-footer a').click(function(event) {
        var url = $(this).attr('href');
        history.pushState(null, null, url);
    });

    $('#resetPassword').on('hidden.bs.modal', function () {
        history.pushState(null, null, "/login");
    });

});

$(window).on('load', function(){
        setTimeout(() =>{
            $('.page-loader').css('display','none');
            $('.page').css('visibility','visible');
        },1000);
    });
</script>
</body>
</html>   