<%- include("partials/header") %>

<div id="back"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 d-flex justify-content-end" style="margin-top: -100px;">
            <img src="https://cdn2.f-cdn.com/contestentries/1316431/24595406/5ae8a3f2e4e98_thumb900.jpg" class="img-thumbnail" alt="Profile Picture">
            <br><br>
        </div>
        <div class="col-md-9 pl-1 pr-5">
            <div id="info">
                <h1 class="display-4">ABHISHEK BHUSHAN</h1>
                <h6>Assisant Professor</h6>
            </div>
            <div class="row">
                <div id="info" class="col-md-6">
                    <p>
                        Department of Computer Science and Engineering<br>
                        School of Computing and Information Technology
                    </p>
                </div>
                <div id="info1" class="col-md-6 pl-5">
                    <h5>CONTACT INFORMATION </h5>
                    <p>
                        <i class="fas fa-envelope pr-1"></i>
                        Email - <strong><span>abhishek123@jaipur.manipal.edu</span></strong><br>
                        <i class="fas fa-phone-alt pr-1"></i>
                        Phone - <strong><span>8475681921</span></strong>
                    </p>
                </div>
            </div>
            <hr style="padding-bottom: 20px; width: 50%;">
            <div id="info1" class="container">
                <h5>FIELD OF EXPERTISE </h5>
                <!-- <p> -->
                    <ul style="list-style-type:square; margin-left:20px;">
                        <li>Data Science</li>
                        <li>Machine Learning</li>
                    </ul>
                <!-- </p> -->
            </div>
            <div id="info1" class="container">
                <h5>ACADEMIC QUALIFICATION</h5>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Degree</th>
                            <th scope="col">Institute</th>
                            <th scope="col">Specialisation</th>
                            <th scope="col">Year of Passing</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">PhD</th>
                            <td>Indian School of Sciences</td>
                            <td>Neural Networks</td>
                            <td>2015</td>
                        </tr>
                        <tr>
                            <th scope="row">M.Tech</th>
                            <td>Stanford University</td>
                            <td>Data Science</td>
                            <td>2010</td>
                        </tr>
                        <tr>
                            <th scope="row">B.Tech</th>
                            <td>Indian Institute of Technology, Delhi</td>
                            <td>Computer Science & Engineering</td>
                            <td>2005</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="info1" class="container">
                <h5>EXPERIENCE</h5>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Organisation</th>
                            <th scope="col">Designation</th>
                            <th scope="col">Role</th>
                            <th scope="col">Tenure</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>University College of Engineering, RTU, Kota</t>
                            <td>Guest Faculty</td>
                            <td>Teaching</td>
                            <td>1 Year</td>
                        </tr>
                        <tr>
                            <td>Indian Institute of Technology, Mumbai</td>
                            <td>Assistant Professor</td>
                            <td>Teaching</td>
                            <td>3 Years</td>
                        </tr>
                        <tr>
                            <td>Stanford University</td>
                            <td>Professor</td>
                            <td>Teaching and Project Management</td>
                            <td>7 Years</td>
                        </tr>
                    </tbody>
                </table>
            </div>
           <div id="info1" class="container">
            <h5>RESEARCH PROJECT</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Project Title</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Funding Agency</th>
                        <th scope="col">Role</th>
                        <th scope="col">Amount(INR)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Municipal Solid Waste Conversion to Fuel and Energy</td>
                        <td>3 Year</td>
                        <td>BEIL, India</td>
                        <td>Principal Investigator</td>
                        <td>46,60,000</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
<%- include("partials/footer") %>