<%- include("partials/header") %>

<div id="loginPage" class="container">
    <!-- PAGE BASIC DISPLAY AND FUNCTIONALITY -->
    <div class = "d-flex justify-content-center">
        <div class = "card">
            <div class = "card-header">
                <h3 class="text-center">RESET PASSWORD</h3>
            </div>
            <div class ="card-body">
                <form action="/reset/<%= token %>" method="POST">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fas fa-lock"></i>
                                <i class="fas fa-check"></i>
                            </span>
                            <input type="password" class="form-control" name="confirm" placeholder="Confirm Password" required="required">
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Update Password" class="btn btn-primary btn-block my-2">
                    </div>
                </form>
            </div>  
        </div>
    </div>
</div>

<!-- JAVASCRIPT PART -->
<script src="/JQuery-v.3.js"></script>
<script src="/Popper.min.js"></script>
<script src="/BOOTSTRAP_4.js"></script>
<script>
  $(document).ready( function(){
    //Make Alert Functional
    $('.overlap-alert').css('display','none').fadeIn(1000,function(){
        setTimeout(function(){
            $('.overlap-alert').fadeOut(1000);
        },3000);
    });

    // Hide NavBar Icons
    var pathUrl = window.location.pathname;
    if(pathUrl.startsWith('/reset')){
        // ADD BACKGROUND
        $("body").css({
            'background-image'    : "url('/Images/Login.jpg')",
            'background-size'     : "cover",
            'background-repeat'   : "no-repeat",
            'background-position' : "center",
            'overflow-y'          : "hidden"
            
        });
        $("#mainNavbar ul li a").hide();
        $("#mainNavbar ul li a").first().show();
        $("#mainNavbar ul li a").first().css({
            marginRight: "13em"
        });
    }
});
</script>