<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>Signup</title>
<link rel="stylesheet" href="/BOOTSTRAP_4.css" type="text/css">
<link rel="stylesheet" href="/Fontawesome/css/all.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/signup.css" type="text/css">
<style>
    #alert-pos{
      position: absolute;
      top: 0px;
    }
</style>

</head>
<body>
<div id="alert-pos" class="container-fluid d-flex justify-content-center">
    <% if(error && error.length > 0){ %>
        <div class="alert alert-danger overlap-alert" role="alert">
            <%= error %>
        </div>
    <% } %>
    <% if(success && success.length > 0){ %>
        <div class="alert alert-success overlap-alert" role="alert">
            <%= success %>
        </div>
    <% } %>
    <% if(warning && warning.length > 0){ %>
        <div class="alert alert-warning overlap-alert" role="alert">
            <%= warning %>
        </div>
    <% } %>
</div>
<div class="container">
    <div class="signup-form">
        <form action="#" method="POST">
            <h2>Sign Up</h2>
            <p>Please fill in this form to create an account!</p>
            <hr>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-paper-plane"></i></span>
                    <input type="email" class="form-control" name="email" placeholder="Email Address" required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fas fa-lock"></i>
                        <i class="fas fa-check"></i>
                    </span>
                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">
                </div>
            </div>
            <div class="form-group">
                <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
            </div>
            <div class="text-center">Already have an account? <a href="/login">Login here</a></div>
        </form>
    </div>
</div>
<script src="/JQuery-v.3.js"></script>
<script>
    $(document).ready( function(){
  
    $('.overlap-alert').css('display','none').fadeIn(1000,function(){
        setTimeout(function(){
            $('.overlap-alert').fadeOut(1000);
        },3000);
    });
  
  
  });
  </script>
</body>
</html>                            