<%- include ("partials/header")%>
<div class="container">
    <div class="row d-flex justify-content-center div-center">
        <div class="col">
            <div class="card border-dark">
                <div class="card-header d-inline-block bg-dark text-white">
                    <span>Header</span>
                    <span class="float-sm-right search-filter"><button class="btn"><i class="fas fa-filter" style="color: #FFF"></i></button></span>
                </div>
                <div class="card-body cardTable">
                    <div class=" container my-2 ml-2 mr-2 search-bar">
                            <input type="text" class="form-control" placeholder= "Search"aria-label="username">    
                    </div>
                    <table class="table table-hover no-margin">
                        <thead>
                            <tr>
                                <th>Header1</th>
                                <th>Header2</th>
                                <th>Header3</th>
                                <th>Header4</th>
                                <th>Header5</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Body1</td>
                                <td>Body1</td>
                                <td>Body1</td>
                                <td>Body1</td>
                                <td>Body1</td>
                            </tr>
                            <tr>
                                <td>Body1</td>
                                <td>Body1</td>
                                <td>Body1</td>
                                <td>Body1</td>
                                <td>Body1</td>
                            </tr>
                            <tr>
                                <td>Body1</td>
                                <td>Body1</td>
                                <td>Body1</td>
                                <td>Body1</td>
                                <td>Body1</td>
                            </tr>
                            <tr>
                                <td>Body1</td>
                                <td>Body1</td>
                                <td>Body1</td>
                                <td>Body1</td>
                                <td>Body1</td>
                            </tr>
                            <tr>
                                <td>Body1</td>
                                <td>Body1</td>
                                <td>Body1</td>
                                <td>Body1</td>
                                <td>Body1</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="card-footer bg-dark text-white">
                        <span class="">Add List</span>
                        <div class="container">
                            <form action="">
                                <div class="d-inline-block">

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include ("partials/footer")%>