html,body{
    height: 100%;
    width: 100%;
}
/*---------------- NAVBAR --------------------*/
#mainNavbar{
    font-size: 1rem;
    font-weight: 100;
    background-color: #66cdaa;
    /* background-color: #e3f2fd; */
    /* background: transparent; */
}

#mainNavbar .navbar-brand img{
    height: 50px;
}

#myNav{
    font-size: 1em;
    font-weight: 600;
}

/*  TRANSITION EFFECT FOR ICONS ON NAVBAR  */
#mainNavbar .effect{
    letter-spacing: 0;
}

#mainNavbar .effect:hover,
.effect::after{
  letter-spacing: 5px;
}

#mainNavbar .effect::after,
.effect::before{
  backface-visibility: hidden;
  border: 1px solid rgba(255,255,255,0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

#mainNavbar .effect:hover::after,
.effect:hover::before{
  backface-visibility: hidden;
  border-color: #000;
  transition: width 350ms ease-in-out;
  width: 70%;
}

#mainNavbar .effect:hover::before{
    bottom: auto;
    top: 0;
    width: 70%;
}

/* SCROLLING EFFECT FOR NAVBAR */
.navbar.scrolled {
    background-color: black;
    transition: background-color 500ms;
}
/* ----------------- END ------------------ */

/* -------------- ALERTS POS -----------------*/
#alert-pos{
    position: relative;
    top: 80px;
}
/* -------------- END ------------- */

/* ------------------ CARAOUSEL STYLING ----------------- */

.img-fluid{
    padding: 0;
    display: block;
    margin: 50px auto 0px auto;
    width: 100%;
    height: 610px;
}

.carousel-inner .carousel-item .carousel-caption{
    background: rgba(0, 0, 0, 0.6); 
    color: yellowgreen; 
    width:fit-content;
    padding : 10px 10px;
    margin: 20px auto;
    transform: skewX(-20deg);
}

.carousel-inner .carousel-item .carousel-caption h4{
    transform: skewX(20deg);
}

.carousel-inner .carousel-item .carousel-caption h4 a{
    color: white;
}

.carousel-inner .carousel-item .carousel-caption h4 a:hover{
    color: blue;
    text-decoration: none;
}

.carousel-indicators li{
    height: 5px;
    width : 5px; 
    padding-left: 10px;
    /* background-color: black; */
}
.carousel ol{
    margin-left: 300px;
    margin-bottom: 4px;
}

/* ---------------- END ------------------- */

/* ------------ COURSE OFFERED ------------ */

#course1 h3{
    text-align: center;
    font-family: Bookman,serif;
    font-weight: 600;
    letter-spacing: 0.08em;
}

#course1 hr{
    height: 4px;
    width: 20%;
    background-color: goldenrod;
    margin-bottom: 40px;
}

#course2 .col-md-3{
    display: flex;
    justify-content: center;
}

#course2 img{
    width: 100%;
    padding: 5px;
}

#course2 .card{
    border-radius: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.2em;
}

#course2 .card-body h5{
    font-weight: 600;
    padding-bottom: 10px;
}

#course2 .card-body p{
    font-size: 0.8em;
}

/* ------------------- END ------------------ */

/* ---------------- CATEGORY ---------------- */
#category1 h3{
    text-align: center;
    font-family: Bookman,serif;
    font-weight: 600;
    letter-spacing: 0.08em;
}

#category1 hr{
    height: 4px;
    width: 20%;
    background-color: goldenrod;
    margin-bottom: 40px;
}
#category2 .col-md-4{
    text-align: center;
}

#category2 .card-body h5{
    color: black;
    padding-bottom: 5px;
}

#category2 .card{
    margin: 20px auto;
    border-radius: 0;
}

#category2 img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border : 1px solid black;
    margin: 25px auto 4px auto;
}
/* ----------------- END -------------------- */

/* ------------------ Footer --------------------*/
#footer{
    background-image: url("/Images/Black.jpg");
    background-size: cover;
    overflow: hidden;
    height: 310px;
    width: 100%;
    color: white;
    font-size: 1em;
    text-align: center;
    /* position: relative; */
}

#footer a{
    color: white;
}

#footer a:hover{
    color: blue;
}

@media (max-width : 768px){
    #disp{
        display: none;
    }
    #footer ul{
        margin-bottom: 25px;
    }
}

/* ------------ MODAL FOR PHD FORM --------------*/
.modal .modal-dialog {
    max-width: 800px;
}
