/* Line on either side of text "or Sign Up Using" */
h6{
    position: relative;
    font-size: 13px;
    overflow-x: hidden;
    text-align: center;
    padding-right: 10px;
}
h6:before{
    position: absolute;
    top: 50%;
    width: 48%;
    height: 1px;
    content: '';
    background-color: white;
    margin-left: -50%;
}
h6:after{
    position: absolute;
    margin-left: 4px;
    top: 50%;
    width: 48%;
    height: 1px;
    content: ' ';
    background-color: white;
}

body{
    background: url("/Images/Login.jpg") fixed;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: hidden;
}

.container{
    margin-top: 10%;
    margin-bottom: 20%;
}

.card{
    width: 30%;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(250,250,250);
    text-shadow: blue;
}

@media only screen and (max-width: 990px) {
    .card {
        width: 40%;
    }
  }

  @media only screen and (max-width: 767px) {
    .card {
        width: 50%;
    }
  } 

  @media only screen and (max-width: 575px) {
    .card {
        width: 60%;
    }
  } 