/* ----------------Supervisor Page / Scholar Page------------------ */
.search-bar input{
    background-image: url('/Images/search.png');
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 0.7rem;
    border-radius: 0;
    margin : 35px auto;
    font-size: 1.1em;
    padding-left: 45px;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-box-shadow: 0 0 30px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 30px 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 30px 1px rgba(0,0,0,0.2);
}

.col table{
    border: 1px solid black;
    margin-bottom: 20px;
}

.card{
    border:none;
}

.card .float-sm-right button i{
    line-height: 1.2em;
    font-size: 1.5em;
}

.cardTable {
    padding: 0;
}

.no-margin {
    margin-bottom: 0;
}

.div-center {
    margin-top: 10%;
    margin-bottom: 20%;
}
.entry:not(:first-of-type)
{
    margin-top: 20px;
}

#sup{
    font-family: FreeMono, monospace;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.13em;
    margin-bottom: 20px;
}

#title{
    font-family: Trebuchet MS, sans-serif;
}

#suphr{
    height: 1px;
    width: 80%;
    background-color: white;
}

#uploadImage{
    line-height: 1.8em;
}

/* -------------------Profile Page----------------- */
#back{
    background-image: url("/Images/MUJ4.jpg") ;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    height: 45%;
}

/* .col-md-3{
    margin-top: -100px;
} */

.col-md-3 img{
    height: 215px;
    width: 215px;
}

#info h1{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 3em;
}

#info h6{
    padding-left: 20px;
    padding-bottom: 25px;
    font-size: 1.2em;
    line-height: 0.1em;
}

#info p{
    padding-left: 20px;
    margin-left: 20px;
    font-size: 1em;
    font-weight: 700;
    line-height: 2em;
    border-left: 5px solid limegreen;
    margin-bottom: 40px;
}

#info1 h5{
    font-family: Trebuchet MS, sans-serif;
    font-weight: 600;
    padding-left: 10px;
    margin-left: 6px;
    margin-bottom: 20px;
    border-left: 5px solid saddlebrown;
}

#info1 p a{
    color: black;
}

#info1 p a:hover{
    color: blue;
    text-decoration: none;
}

#info1 p,ul{
    padding-left: 20px;
    font-size: 1em;
    line-height: 1.8em;
    margin-bottom: 40px;
}

#info1 table{
    padding-top: 10px;
    margin-left: 20px;
    font-size: 1em;
    line-height: 1.8em;
    margin-bottom: 50px;
}

/* CREATE PROFILE PIC HOVER EFFECT */
.profile-pic-hover {
    position:relative;
    height:281px;
    width:450px;
    margin:0 auto;
  }

.img-bottom {
position:absolute;
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
}
.img-top{
position:absolute;

}

.img-bottom:hover {
opacity:0.2;
}

.custom-file-input{
    cursor: pointer;
}


@media (max-width : 992px){
    .col-md-3 img{
        height: 155px;
        width: 155px;
    }
    .container{
        font-size: 0.9rem;
    }
    #back{
        margin-top: 50px;
        height: 25%;
    }
}