/* ----------------Supervisor Page / Scholar Page------------------ */

html , body {
    height: 100%;
    margin: 0;
}

.search-bar input{
    background-image: url('/Images/search.png');
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 0.7rem;
    border-radius: 0;
    margin : 35px auto;
    font-size: 1.1em;
    padding-left: 45px;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-box-shadow: 0 0 30px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 30px 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 30px 1px rgba(0,0,0,0.2);
}

.col table{
    border: 1px solid black;
    margin-bottom: 20px;
}

.card{
    border:none;
}

.card .float-sm-right button i{
    line-height: 1.2em;
    font-size: 1.5em;
}

.cardTable {
    padding: 0;
}

.no-margin {
    margin-bottom: 0;
}

.div-center {
    margin-top: 10%;
    margin-bottom: 20%;
}
.entry:not(:first-of-type)
{
    margin-top: 20px;
}

#sup{
    font-family: FreeMono, monospace;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.13em;
    margin-bottom: 20px;
}

#title{
    font-family: Trebuchet MS, sans-serif;
}

#suphr{
    height: 1px;
    width: 80%;
    background-color: white;
}

#uploadImage{
    line-height: 1.8em;
}

.fa-caret-down,.fa-caret-up{
    position: relative;
    top: -10px;
    right: -10px;
}

#scholarTable th,#supervisorTable th{
    outline: none;
    vertical-align: middle;
}

.popover {
    width: 100px !important;
}

/* -------------------Profile Page----------------- */
#back{
    background-image: url("/Images/MUJ4.jpg") ;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 48px;
    height: 45vh;
}

.col-md-9 a:hover{
    text-decoration: none;
}

.delete{
    display: inline;
    margin-right: 10px;
}

.col-md-3 img{
    height: 215px;
    width: 215px;
}

#info h1{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 3em;
}

#info h6{
    padding-left: 20px;
    padding-bottom: 25px;
    font-size: 1.2em;
    line-height: 0.1em;
}

#info p{
    padding-left: 20px;
    margin-left: 20px;
    font-size: 1em;
    font-weight: 700;
    line-height: 2em;
    border-left: 5px solid limegreen;
    margin-bottom: 40px;
}

#info1 h5{
    font-family: Trebuchet MS, sans-serif;
    font-weight: 600;
    padding-left: 10px;
    margin-left: 6px;
    margin-bottom: 20px;
    border-left: 5px solid saddlebrown;
}

#info1 h5 span{
    font-size: 1em;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

#info1 p strong em{
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* padding-left: 25px; */
}

#info1 h5 a span{
    font-size: 1em;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

#info1 h5 a span:hover{
    color: blue;
}

#info1 ul li a{
    font-size: 1.1em;
    font-weight: 400;
    color: black;
}

#info1 ul li a:hover{
    color: blue;
}

#info1 p a{
    color: black;
}

#info1 p a:hover{
    color: blue;
}

#info1 p,ul{
    padding-left: 20px;
    font-size: 1em;
    line-height: 1.8em;
    margin-bottom: 40px;
}

#info1 table{
    padding-top: 10px;
    margin-left: 20px;
    font-size: 1em;
    line-height: 1.8em;
    margin-bottom: 50px;
}

/* CREATE PROFILE PIC HOVER EFFECT */
.profile-pic-hover {
    position:relative;
    height:281px;
    width:450px;
    margin:0 auto;
  }

.img-bottom {
position:absolute;
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
}
.img-top{
position:absolute;

}

.img-bottom:hover {
opacity:0.2;
}

.custom-file-input{
    cursor: pointer;
}

@media (max-width : 992px){
    .col-md-3 img{
        height: 155px;
        width: 155px;
    }
    .container{
        font-size: 0.9rem;
    }
    #back{
        margin-top: 50px;
        height: 25vh;
    }
    #info h6{
        font-size: 1rem;
    }
}

@media (max-width : 560px){
    .col-md-3 img{
        height: 105px;
        width: 105px;
        
    }
    .profile-pic-hover{
        margin-top: -60px !important;
        height: 95px;
    }
    .container{
        font-size: 0.9rem;
    }
    #back{
        margin-top: 50px;
        height: 23vh;
        width: 100%;
    }
    #profileView .col-md-3{
        margin-top: -60px !important;
    }
    #info h1{
        font-size: 1.8rem;
        font-weight: 400;
    }
    #info p{
        font-size: 0.9rem;
    }

    #profileView .col-md-9 div:nth-of-type(3) span::before{
        content: '\a';
        white-space: pre;
    }

    #profileView .col-md-9 div:nth-of-type(2) span::before{
        content: '\a';
        white-space: pre;
    }

    #profileView .col-md-9 div:nth-of-type(2) em span::before{
        content: '\a';
        white-space: pre;
    }

    #profileView .col-md-9 div:nth-of-type(3){
        padding-bottom: 0px !important;
    }

    .modePhD,.cosupBy{
        margin-left: 14px !important; 
    }

    .regNo span::before, .modePhD span::before, .sup span::before, .cosupBy span::before{
        content: '\a';
        white-space: pre;   
    }

    #info1 .btn-success{
        margin-right: -52px;
    }
    #profileView .float-right a{
        margin-right: -35px;
        height: 30px;
        line-height: 1.2em;
    }
    #profileView .float-right button{
        margin-right: -40px;
        line-height: 0.8em;
        height: 30px;
        padding-left: 0;
        padding-right: 0;
    }
    

}

/* PREVENT UPLOAD REPORT MODAL FROM TOUCHING THE LEFT END OF THE SCREEN */

@media screen and ( max-width: 852px){
    #uploadReport .modal-dialog {
        margin-left: 2%;
        margin-right: 2%;
    }
}


/* -------------------EDIT PROFILE PAGE --------------------- */
#editTitle{
    margin-top: 80px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    word-spacing: 0.2em;
    letter-spacing: 0.1em;
}
#edit{
    color: white;
    border: 2px solid rgba(0,0,0,0.8);
    border-radius: 10px;
    padding: 30px 20px 10px 20px;
    margin-bottom: 20px;
    background-color: rgba(47,79,79,0.9)
    /* background-image: url("/Images/EditBg.jpg"); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

#edit h5{
    font-weight: 800;
    color: white;
}

#edit label{
    color: white;
}

#edit hr{
    background-color: cadetblue;
}

/* ------------------------ END ---------------------------- */

/* ------------------ Notification Page -------------------- */
.notify{
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 5px;
    width: 75%;
}

.notify h3{
    padding-top: 10px;
    text-align: center;
}

.notify ol > li{
    padding-bottom: 20px;
    padding-top: 10px;
}

.notify ol > li > h6{
    padding-bottom: 15px;
}

.notify ul{
    list-style-type: disc;
    margin-left: 20px;
}

.notify ul > li:nth-of-type(1){
    padding-bottom: 5px;
}

.notify ol > li > span{
    line-height: 0.1em  ;
}

.notify ol > li > span form{
    display: inline;
}

.notify ol > li > span .fa-edit{
    color: black;
}

.notify ol > li > span > a:focus, .notify ol > li > span > form > button:focus{
    outline: none;
    box-shadow: none;
}

.notify ol > li > span .fa-trash{
    color: red;
}

.notify div{
    margin-bottom: 12px;
}

.notify div a:focus{
    outline: none;
    box-shadow: none;
}

.createNotify{
    font-size: 0.7em;
    color: rgba(0,0,0,0.5);
    margin-bottom: 10px;

}

#editnotification .modal-header, #newnotification .modal-header{
    height: 10px !important;
}

#editnotification .modal-header >button, #newnotification .modal-header > button{
    padding-top: 4px;
    outline: none;
}

#editnotification .modal-body > h5 , #newnotification .modal-body > h5{
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
}

#editnotification .modal-body .input-group, #newnotification .modal-body .input-group{
    width: 80%;
    margin: 10px auto;
}

#editnotification .modal-footer, #newnotification .modal-footer{
    height: 50px !important;
}

#editnotification .modal-footer > button, #newnotification .modal-footer > button{
    margin-top: auto;
    margin-bottom: auto;
}


/* -------------------------- END -------------------------- */

/* COLLAPSE TABLE COLUMN ON SHRINKING */
@media only screen and (max-width: 730px) {
    .table-collapsible tr td:nth-child(5){
        display: none;
        
    }
    
    .table-collapsible tr th:nth-child(5){
        display: none;
        
    }

} 
@media only screen and (max-width: 430px) {
    .table-collapsible tr td:nth-child(4){
        display: none;
        
    }
    
    .table-collapsible tr th:nth-child(4){
        display: none;
        
    }
    

} 
@media only screen and (max-width: 300px) {
    .table-collapsible tr td:nth-child(3){
        display: none;
        
    }
    
    .table-collapsible tr th:nth-child(3){
        display: none;
        
    }

} 

/* ADJUST SUPERVIOSR HEADING IN SUPERVISOR PAGE FOR MOBILE VIEW */

@media only screen and (max-width: 480px) {
    #sup{
        letter-spacing: 0em;
        font-size: 40px;
        
    }

} 

/* ADJUST TABLE IN SUPERVISOR PROFILE FOR MOBILE VIEW */

@media only screen and (max-width: 480px) {
    .profile-table-collapsible tr td:nth-child(5){
        display: none;
        
    }
    
    .profile-table-collapsible tr th:nth-child(5){
        display: none;
        
    }

} 

@media only screen and (max-width: 410px) {
    .profile-table-collapsible tr td:nth-child(4){
        display: none;
        
    }
    
    .profile-table-collapsible tr th:nth-child(4){
        display: none;
        
    }

} 

/* CHANGE PASSWORD PAGE FOR MOBILE VIEW */

@media only screen and (max-width: 600px) {
    .div-changepassword {
        width: 80%;
    }
    #editTitle {
        letter-spacing: 0;
    }
}



@media only screen and (min-width: 600px) {
    .div-changepassword {
        width: 60%;
    }

} 
@media only screen and (min-width: 900px) {
    .div-changepassword {
        width: 50%;
    }
} 

.page {
    visibility: hidden;
    transition: visibility 0.5s;
}

.page-loader {
    height: 100vh; 
    width: 100vh;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
}
/* PRESENTATION SCHEDULE MODAL DESIGN */

#scheduleModal .modal-lg{
    max-width: 70%;
}

#scheduleModal .modal-header > button{
     outline: none;
}

#scheduleModal h4{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    word-spacing:5px;
}

#scheduleTable th,td{
    text-align: center;
    vertical-align: top;
}

#scheduleTable .fa-chevron-right{
    line-height: 1.5em;
}

/* SCHEDULE DROPDOWN ROW STYLING */
.parent-row {
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
    
.parent-row .down{
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}
.parent-row i{
    cursor: pointer;
}

.dropdown-row .col-6{
    padding: 0 50px;
}

.dropdown-row td{
    height: 0px;
    padding: 0px 12px;
}

.dropdown-row td div{

    height: 0px;
    overflow: hidden;

    transition: height 1s ease;
}
.dropdown-row-active td div{
    height: 160px;
}

.dropdown-row .row{
    padding-top: 10px;
}

.dropdown-row .row div:nth-of-type(2) > p > a:nth-of-type(n+2){
    padding-left: 120px;
}

@media screen and (max-width: 440px){
    #scheduleFormTable #scheduleTable{
        transform: scale(0.7) translateX(-70px);
    
    }
    
}
@media screen and (max-width: 350px){
    #scheduleFormTable #scheduleTable{
        transform: scale(0.6) translateX(-120px);
    
    }
    
}
/* SCHEDULE TABLE MODAL DESIGN */

#scheduleModal #scheduleTable{
    transform:scale(0.95);
}
@media screen and (max-width: 480px){
    #scheduleModal #scheduleTable{
        transform: scale(0.7) translateX(-40px)
    
    }
    
}
@media screen and (max-width: 380px){
    #scheduleModal #scheduleTable{
        transform: scale(0.5) translateX(-60px)
    
    }
    
}
