/* ----------------Supervisor Page / Scholar Page------------------ */

html , body {
    height: 100%;
    margin: 0;
}

.search-bar input{
    background-image: url('/Images/search.png');
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 0.7rem;
    border-radius: 0;
    margin : 35px auto;
    font-size: 1.1em;
    padding-left: 45px;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-box-shadow: 0 0 30px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 30px 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 30px 1px rgba(0,0,0,0.2);
}

.col table{
    border: 1px solid black;
    margin-bottom: 20px;
}

.card{
    border:none;
}

.card .float-sm-right button i{
    line-height: 1.2em;
    font-size: 1.5em;
}

.cardTable {
    padding: 0;
}

.no-margin {
    margin-bottom: 0;
}

.div-center {
    margin-top: 10%;
    margin-bottom: 20%;
}
.entry:not(:first-of-type)
{
    margin-top: 20px;
}

#sup{
    font-family: FreeMono, monospace;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.13em;
    margin-bottom: 20px;
}

#title{
    font-family: Trebuchet MS, sans-serif;
}

#suphr{
    height: 1px;
    width: 80%;
    background-color: white;
}

#uploadImage{
    line-height: 1.8em;
}

/* -------------------Profile Page----------------- */
#back{
    background-image: url("/Images/MUJ4.jpg") ;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 48px;
    height: 45%;
}

.delete{
    display: inline;
    margin-right: 10px;
}

.col-md-3 img{
    height: 215px;
    width: 215px;
}

#info h1{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 3em;
}

#info h6{
    padding-left: 20px;
    padding-bottom: 25px;
    font-size: 1.2em;
    line-height: 0.1em;
}

#info p{
    padding-left: 20px;
    margin-left: 20px;
    font-size: 1em;
    font-weight: 700;
    line-height: 2em;
    border-left: 5px solid limegreen;
    margin-bottom: 40px;
}

#info1 h5{
    font-family: Trebuchet MS, sans-serif;
    font-weight: 600;
    padding-left: 10px;
    margin-left: 6px;
    margin-bottom: 20px;
    border-left: 5px solid saddlebrown;
}

#info1 h5 a span{
    font-size: 1em;
    font-weight: 100;
    color: black;
}

#info1 h5 a span:hover{
    color: blue;
}

#info1 ul a li{
    font-size: 1.1em;
    font-weight: 400;
    color: black;
}

#info1 ul a li:hover{
    color: blue;
}


#info1 p a{
    color: black;
}

#info1 p a:hover{
    color: blue;
    text-decoration: none;
}

#info1 p,ul{
    padding-left: 20px;
    font-size: 1em;
    line-height: 1.8em;
    margin-bottom: 40px;
}

#info1 table{
    padding-top: 10px;
    margin-left: 20px;
    font-size: 1em;
    line-height: 1.8em;
    margin-bottom: 50px;
}

/* CREATE PROFILE PIC HOVER EFFECT */
.profile-pic-hover {
    position:relative;
    height:281px;
    width:450px;
    margin:0 auto;
  }

.img-bottom {
position:absolute;
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
}
.img-top{
position:absolute;

}

.img-bottom:hover {
opacity:0.2;
}

.custom-file-input{
    cursor: pointer;
}

@media (max-width : 992px){
    .col-md-3 img{
        height: 155px;
        width: 155px;
    }
    .container{
        font-size: 0.9rem;
    }
    #back{
        margin-top: 50px;
        height: 25%;
    }
}

@media (max-width : 560px){
    .col-md-3 img{
        height: 105px;
        width: 105px;
        
    }
    .profile-pic-hover{
        margin-top: -60px !important;
        height: 95px;
    }
    .container{
        font-size: 0.9rem;
    }
    #back{
        margin-top: 50px;
        height: 23%;
        width: 100%;
    }
    #profileView .col-md-3{
        margin-top: -60px !important;
    }
    #info h1{
        font-size: 2.2rem;
        font-weight: 400;
    }
    #info p{
        font-size: 0.9rem;
    }

    #profileView .col-md-9 div:nth-of-type(3) span::before{
        content: '\a';
        white-space: pre;
    }
    #profileView .col-md-9 div:nth-of-type(2) strong::before{
        content: '\a';
        white-space: pre;
    }
    #profileView .col-md-9 div:nth-of-type(2) em::before{
        content: '\a';
        white-space: pre;
    }
    #profileView .col-md-9 div:nth-of-type(3){
        padding-bottom: 0px !important;
    }

    #info1 .btn-success{
        margin-right: -52px;
    }
    #profileView .float-right a{
        margin-right: -35px;
        height: 30px;
        line-height: 1.2em;
    }
    #profileView .float-right button{
        margin-right: -40px;
        line-height: 0.8em;
        height: 30px;
        padding-left: 0;
        padding-right: 0;
    }
    

}

/* PREVENT UPLOAD REPORT MODAL FROM TOUCHING THE LEFT END OF THE SCREEN */

@media screen and ( max-width: 852px){
    #uploadReport .modal-dialog {
        margin-left: 2%;
        margin-right: 2%;
    }
}


/* -------------------EDIT PAGE --------------------- */
#editTitle{
    margin-top: 80px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    word-spacing: 0.2em;
    letter-spacing: 0.1em;
}
#edit{
    color: white;
    border: 2px solid rgba(0,0,0,0.8);
    border-radius: 10px;
    padding: 30px 20px 10px 20px;
    margin-bottom: 20px;
    background-image: url("/Images/EditBack1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#edit h5{
    font-weight: 800;
    color: white;
}

#edit label{
    color: white;
}

#edit hr{
    background-color: cadetblue;
}

/* COLLAPSE TABLE COLUMN ON SHRINKING */
@media only screen and (max-width: 730px) {
    .table-collapsible tr td:nth-child(5){
        display: none;
        
    }
    
    .table-collapsible tr th:nth-child(5){
        display: none;
        
    }

} 
@media only screen and (max-width: 430px) {
    .table-collapsible tr td:nth-child(4){
        display: none;
        
    }
    
    .table-collapsible tr th:nth-child(4){
        display: none;
        
    }

} 
@media only screen and (max-width: 300px) {
    .table-collapsible tr td:nth-child(3){
        display: none;
        
    }
    
    .table-collapsible tr th:nth-child(3){
        display: none;
        
    }

} 

/* ADJUST SUPERVIOSR HEADING IN SUPERVISOR PAGE FOR MOBILE VIEW */

@media only screen and (max-width: 480px) {
    #sup{
        letter-spacing: 0em;
        font-size: 40px;
        
    }

} 

/* ADJUST TABLE IN SUPERVISOR PROFILE FOR MOBILE VIEW */

@media only screen and (max-width: 480px) {
    .profile-table-collapsible tr td:nth-child(5){
        display: none;
        
    }
    
    .profile-table-collapsible tr th:nth-child(5){
        display: none;
        
    }

} 

@media only screen and (max-width: 410px) {
    .profile-table-collapsible tr td:nth-child(4){
        display: none;
        
    }
    
    .profile-table-collapsible tr th:nth-child(4){
        display: none;
        
    }

} 

/* CHANGE PASSWORD PAGE FOR MOBILE VIEW */

@media only screen and (max-width: 600px) {
    .div-changepassword {
        width: 80%;
    }
    #editTitle {
        letter-spacing: 0;
    }
}



@media only screen and (min-width: 600px) {
    .div-changepassword {
        width: 60%;
    }

} 
@media only screen and (min-width: 900px) {
    .div-changepassword {
        width: 50%;
    }
} 